## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-12-02 13:39:20.196032: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
totalapp = application_df['APPLICATION_TYPE'].value_counts()
totalapp

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
totalapp[totalapp > 100]

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
totalclassification = application_df.CLASSIFICATION.value_counts()
totalclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
totalclassification[totalclassification > 114]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < 115].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df2 = pd.get_dummies(application_df)
df2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = df2['IS_SUCCESSFUL'].values
X = df2.drop(columns=["IS_SUCCESSFUL"]).values



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

#nn = tf.keras.models.Sequential()
nn_model = tf.keras.Sequential()
    ##tf.keras.layers.Dense(2, activation='relu', input_shape=(2,)))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=len(X_train[0])))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3840

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,301
Trainable params: 6,301
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 555us/step - loss: 0.5894 - accuracy: 0.7354
Epoch 2/100
804/804 [==============================] - 0s 500us/step - loss: 0.5835 - accuracy: 0.7360
Epoch 3/100
804/804 [==============================] - 0s 492us/step - loss: 0.6105 - accuracy: 0.7333
Epoch 4/100
804/804 [==============================] - 0s 489us/step - loss: 0.5724 - accuracy: 0.7371
Epoch 5/100
804/804 [==============================] - 0s 487us/step - loss: 0.6140 - accuracy: 0.7068
Epoch 6/100
804/804 [==============================] - 0s 488us/step - loss: 0.5728 - accuracy: 0.7348
Epoch 7/100
804/804 [==============================] - 0s 488us/step - loss: 0.5522 - accuracy: 0.7367
Epoch 8/100
804/804 [==============================] - 0s 504us/step - loss: 0.5587 - accuracy: 0.7264
Epoch 9/100
804/804 [==============================] - 0s 503us/step - loss: 0.5591 - accuracy: 0.7333
Epoch 10/100
804/804 [==============================] - 0s 500us/step - loss: 0.5595 - accuracy: 0.7265
Epoch 11/100
804/804 [==============================] - 0s 499us/step - loss: 0.5579 - accuracy: 0.7314
Epoch 12/100
804/804 [==============================] - 0s 499us/step - loss: 0.5531 - accuracy: 0.7359
Epoch 13/100
804/804 [==============================] - 0s 498us/step - loss: 0.5504 - accuracy: 0.7390
Epoch 14/100
804/804 [==============================] - 0s 506us/step - loss: 0.5591 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 0s 532us/step - loss: 0.5569 - accuracy: 0.7386
Epoch 16/100
804/804 [==============================] - 0s 544us/step - loss: 0.5602 - accuracy: 0.7369
Epoch 17/100
804/804 [==============================] - 0s 495us/step - loss: 0.5628 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 0s 491us/step - loss: 0.5710 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 0s 486us/step - loss: 0.5635 - accuracy: 0.7364
Epoch 20/100
804/804 [==============================] - 0s 485us/step - loss: 0.5549 - accuracy: 0.7369
Epoch 21/100
804/804 [==============================] - 0s 487us/step - loss: 0.5635 - accuracy: 0.7331
Epoch 22/100
804/804 [==============================] - 0s 487us/step - loss: 0.5776 - accuracy: 0.7156
Epoch 23/100
804/804 [==============================] - 0s 510us/step - loss: 0.5654 - accuracy: 0.7355
Epoch 24/100
804/804 [==============================] - 0s 487us/step - loss: 0.5759 - accuracy: 0.7358
Epoch 25/100
804/804 [==============================] - 0s 486us/step - loss: 0.5621 - accuracy: 0.7374
Epoch 26/100
804/804 [==============================] - 0s 487us/step - loss: 0.5530 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 0s 486us/step - loss: 0.5562 - accuracy: 0.7379
Epoch 28/100
804/804 [==============================] - 0s 490us/step - loss: 0.5635 - accuracy: 0.7360
Epoch 29/100
804/804 [==============================] - 0s 517us/step - loss: 0.5534 - accuracy: 0.7367
Epoch 30/100
804/804 [==============================] - 0s 486us/step - loss: 0.5638 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 0s 486us/step - loss: 0.5665 - accuracy: 0.7339
Epoch 32/100
804/804 [==============================] - 0s 485us/step - loss: 0.5603 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 0s 484us/step - loss: 0.5627 - accuracy: 0.7371
Epoch 34/100
804/804 [==============================] - 0s 483us/step - loss: 0.5523 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 0s 487us/step - loss: 0.5570 - accuracy: 0.7382
Epoch 36/100
804/804 [==============================] - 0s 507us/step - loss: 0.5536 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 0s 487us/step - loss: 0.5567 - accuracy: 0.7388
Epoch 38/100
804/804 [==============================] - 0s 487us/step - loss: 0.5590 - accuracy: 0.7369
Epoch 39/100
804/804 [==============================] - 0s 483us/step - loss: 0.5516 - accuracy: 0.7368
Epoch 40/100
804/804 [==============================] - 0s 485us/step - loss: 0.5625 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 0s 485us/step - loss: 0.5539 - accuracy: 0.7378
Epoch 42/100
804/804 [==============================] - 0s 485us/step - loss: 0.5531 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 0s 486us/step - loss: 0.5686 - accuracy: 0.7213
Epoch 44/100
804/804 [==============================] - 0s 485us/step - loss: 0.5605 - accuracy: 0.7340
Epoch 45/100
804/804 [==============================] - 0s 513us/step - loss: 0.5542 - accuracy: 0.7351
Epoch 46/100
804/804 [==============================] - 0s 486us/step - loss: 0.5518 - accuracy: 0.7396
Epoch 47/100
804/804 [==============================] - 0s 485us/step - loss: 0.5731 - accuracy: 0.7250
Epoch 48/100
804/804 [==============================] - 0s 489us/step - loss: 0.5713 - accuracy: 0.7194
Epoch 49/100
804/804 [==============================] - 0s 505us/step - loss: 0.5642 - accuracy: 0.7353
Epoch 50/100
804/804 [==============================] - 0s 488us/step - loss: 0.5546 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 0s 497us/step - loss: 0.5621 - accuracy: 0.7300
Epoch 52/100
804/804 [==============================] - 0s 514us/step - loss: 0.5676 - accuracy: 0.7286
Epoch 53/100
804/804 [==============================] - 0s 509us/step - loss: 0.5561 - accuracy: 0.7372
Epoch 54/100
804/804 [==============================] - 0s 509us/step - loss: 0.5562 - accuracy: 0.7374
Epoch 55/100
804/804 [==============================] - 0s 496us/step - loss: 0.5578 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 0s 523us/step - loss: 0.5840 - accuracy: 0.7296
Epoch 57/100
804/804 [==============================] - 0s 550us/step - loss: 0.5727 - accuracy: 0.7361
Epoch 58/100
804/804 [==============================] - 0s 569us/step - loss: 0.5651 - accuracy: 0.7365
Epoch 59/100
804/804 [==============================] - 0s 494us/step - loss: 0.5650 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 0s 495us/step - loss: 0.5724 - accuracy: 0.7373
Epoch 61/100
804/804 [==============================] - 0s 497us/step - loss: 0.5672 - accuracy: 0.7334
Epoch 62/100
804/804 [==============================] - 0s 490us/step - loss: 0.5758 - accuracy: 0.7375
Epoch 63/100
804/804 [==============================] - 0s 594us/step - loss: 0.5702 - accuracy: 0.7379
Epoch 64/100
804/804 [==============================] - 0s 490us/step - loss: 0.5719 - accuracy: 0.7375
Epoch 65/100
804/804 [==============================] - 0s 488us/step - loss: 0.5847 - accuracy: 0.7279
Epoch 66/100
804/804 [==============================] - 0s 486us/step - loss: 0.5855 - accuracy: 0.7294
Epoch 67/100
804/804 [==============================] - 0s 487us/step - loss: 0.5866 - accuracy: 0.7291
Epoch 68/100
804/804 [==============================] - 0s 489us/step - loss: 0.5825 - accuracy: 0.7341
Epoch 69/100
804/804 [==============================] - 0s 493us/step - loss: 0.5664 - accuracy: 0.7389
Epoch 70/100
804/804 [==============================] - 0s 521us/step - loss: 0.5670 - accuracy: 0.7384
Epoch 71/100
804/804 [==============================] - 0s 489us/step - loss: 0.5641 - accuracy: 0.7389
Epoch 72/100
804/804 [==============================] - 0s 487us/step - loss: 0.5723 - accuracy: 0.7350
Epoch 73/100
804/804 [==============================] - 0s 492us/step - loss: 0.6005 - accuracy: 0.7179
Epoch 74/100
804/804 [==============================] - 0s 492us/step - loss: 0.5708 - accuracy: 0.7375
Epoch 75/100
804/804 [==============================] - 0s 488us/step - loss: 0.5658 - accuracy: 0.7386
Epoch 76/100
804/804 [==============================] - 0s 488us/step - loss: 0.5697 - accuracy: 0.7384
Epoch 77/100
804/804 [==============================] - 0s 496us/step - loss: 0.5706 - accuracy: 0.7368
Epoch 78/100
804/804 [==============================] - 0s 511us/step - loss: 0.5959 - accuracy: 0.7193
Epoch 79/100
804/804 [==============================] - 0s 563us/step - loss: 0.5793 - accuracy: 0.7290
Epoch 80/100
804/804 [==============================] - 0s 550us/step - loss: 0.5597 - accuracy: 0.7363
Epoch 81/100
804/804 [==============================] - 0s 489us/step - loss: 0.5642 - accuracy: 0.7371
Epoch 82/100
804/804 [==============================] - 0s 536us/step - loss: 0.5600 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 0s 599us/step - loss: 0.5572 - accuracy: 0.7378
Epoch 84/100
804/804 [==============================] - 0s 491us/step - loss: 0.5536 - accuracy: 0.7371
Epoch 85/100
804/804 [==============================] - 0s 487us/step - loss: 0.5576 - accuracy: 0.7369
Epoch 86/100
804/804 [==============================] - 0s 487us/step - loss: 0.5625 - accuracy: 0.7385
Epoch 87/100
804/804 [==============================] - 0s 488us/step - loss: 0.5594 - accuracy: 0.7362
Epoch 88/100
804/804 [==============================] - 0s 487us/step - loss: 0.5546 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 0s 490us/step - loss: 0.5633 - accuracy: 0.7369
Epoch 90/100
804/804 [==============================] - 0s 490us/step - loss: 0.5736 - accuracy: 0.7375
Epoch 91/100
804/804 [==============================] - 0s 487us/step - loss: 0.5721 - accuracy: 0.7207
Epoch 92/100
804/804 [==============================] - 0s 511us/step - loss: 0.5597 - accuracy: 0.7350
Epoch 93/100
804/804 [==============================] - 0s 486us/step - loss: 0.5549 - accuracy: 0.7400
Epoch 94/100
804/804 [==============================] - 0s 490us/step - loss: 0.5549 - accuracy: 0.7382
Epoch 95/100
804/804 [==============================] - 0s 486us/step - loss: 0.5616 - accuracy: 0.7389
Epoch 96/100
804/804 [==============================] - 0s 513us/step - loss: 0.5780 - accuracy: 0.7273
Epoch 97/100
804/804 [==============================] - 0s 491us/step - loss: 0.5665 - accuracy: 0.7350
Epoch 98/100
804/804 [==============================] - 0s 490us/step - loss: 0.5612 - accuracy: 0.7399
Epoch 99/100
804/804 [==============================] - 0s 488us/step - loss: 0.5617 - accuracy: 0.7400
Epoch 100/100
804/804 [==============================] - 0s 489us/step - loss: 0.5600 - accuracy: 0.7391

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5945 - accuracy: 0.7278 - 194ms/epoch - 725us/step
Loss: 0.5945389866828918, Accuracy: 0.7278134226799011

In [ ]:
# Export our model to HDF5 file
nn_model.save("nm_model.h5")